button.disabled {
    background-color: #f55656;
    cursor: not-allowed;
}
button.disabled:hover {
    background-color: #f55656;
    cursor: not-allowed;
}


.help-block.with-errors {
    color: black;
}