button.disabled {
    background-color: #f55656;
    cursor: not-allowed;
}
button.disabled:hover {
    background-color: #f55656;
    cursor: not-allowed;
}

.help-block.with-errors {
    color: red;
}

.col-center {
    float: none;
    margin: 0 auto;
}

.testimonials .testimonial-content p {
    margin-bottom: 10px;
    text-decoration: underline;
}